---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import Career from "../components/Career.astro";
import Goal from "../components/Goal.astro";
import IntroCard from "../components/IntroCard.astro";
import AboutMe from "../components/AboutMe.astro";
import Now from "../components/Now.astro";
import {FOOTER, METADATA} from "../lib/constants";
import PageLoad from "../components/PageLoad.svelte";
---

<Layout
        title={METADATA.title}
        description={METADATA.description}
>
    <PageLoad client:load>
        <IntroCard/>
        <Goal/>
        <AboutMe/>
        <Career/>
        <Now/>
        <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
            <p class="text-xs">
                {FOOTER.footer}
            </p>
        </Card>
    </PageLoad>
</Layout>

